<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>
    <style>
      body {
        background-image: url('Assets/images/background.jpg');
        background-size: cover;
      }
    </style>

    <div class="projectHead" text-center>
      <br>
      <h1>
        <%= title %>
      </h1>
    </div>

    <h3>&nbspPlease find some of the projects I have worked on; </h3>

    <section id="about" class="s-about target-section">
      <div class="row about-content">

        <div class="col-six tab-full left">
          <h3 style="font-size:17px;font-family:verdana"><b>1) Online Voting system using Biometric Authentication</b>
          </h3>
          <p style="font-size:17px;font-family:verdana">
            <b>Description:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            In a team of 4, we designed one web based application which will perfom voting and needs biometric
            validation for submitting the vote. We made use of
            Thumb impression and Iris scanned images to validate the authenticity of the user. This image validations
            interally uses some image process alorithms and some inbuilt algorithms such as minutia based algorithm.
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Role:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            Design frontend using Java Script and also managed some database part using SQL.
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Outcome:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            From this project, I have learnt image processing algorithms and also able to identify and solve problem
            which people face while voting. We proposed this system to change our traditional way of voting.
          </p>
        </div>

        <div class="col-six tab-full right">
          <div class="workHead tab-full right">
            <h1><img src="Assets/images/project1.jpg" width="600" height="300"></h1>
            <p style="font-size:21px;"><b>1) Online Voting system using Biometric Authentication</b></p>
          </div>

        </div>

        <div class="col-six tab-full left">
          <br>
          <h3 style="font-size:17px;font-family:verdana"><b>2) Airlines Reservation System</b></h3>
          <p style="font-size:17px;font-family:verdana">
            <b>Description:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            I've designed this project from scratch and made use of multiple technologies for its front end and back end
            development. This web based application is capable of booking, scheduling, and managing all the fligh
            details. I've used web tokes for authenticating the logged in person. Admin is capable of performing some
            activities like add flight,edit flight,delete flight, voucher setup. While, User can perform booking,
            checking for available flights etc. I have developed its front
            end on Angular and backend was managed using Spring Boot. Also, I made use of Kafka messaging service so
            that users can get update notification if there's any change in flight by admin.
            I've deployed this application on AWS(ec2) instance and hosted our database on AWS(RDS).
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Role:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            Involved in design, development and testing (using JUnits & Mockito) for this project
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Outcome:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            This project has helped me in learning full stack technologies and some new concepts such as Mockito, Kafka,
            Web Tokens and AWS. Also I got exposure of Java 8 while developing this project.
          </p><br>
        </div>

        <div class="col-six tab-full right">
          <div class="workHead tab-full right">
            <br>
            <h1><img src="Assets/images/project2.jpg" width="600" height="300"></h1>
            <p style="font-size:21px;"><b>2) Airlines Reservation System</b></p>
          </div>

        </div>

        <div class="col-six tab-full left">

          <h3 style="font-size:17px;font-family:verdana"><b>3) XML Validation Tool</b></h3>
          <p style="font-size:17px;font-family:verdana">
            <b>Description:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            This project was designed from the scratch and was capable of validating 100's of xml's within 2-3min. I
            have designed this tool by understanding the trouble which people face especially manual testers. This tool
            was purely based on Java and for backend I've used SQL. To validate particular XML, we need to pass one
            excel sheet with rules mentioned and using that rule sheet I have validated all the XML's. We also made use
            of XSL's and JSON for this project.
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Role:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            Involved in design, development and testing (using JUnits) for this project.
          </p>
          <p style="font-size:17px;font-family:verdana">
            <b>Outcome:</b>
          </p>
          <p style="font-size:16px;font-family:verdana">
            This project has helped multiple manual testers to minimize their time while testing XML's.
          </p><br>
        </div>

        <div class="col-six tab-full right">
          <div class="workHead tab-full right">
            <br>
            <h1><img src="Assets/images/project3.JPG" width="600" height="300"></h1>
            <p style="font-size:21px;"><b>3) XML Validation Tool</b></p>
          </div>

        </div>

      </div> <!-- end about-content -->




    </section> <!-- end about -->
    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>